/* Using JIT mode, see tailwind's limitations with this mode here https://tailwindcss.com/docs/just-in-time-mode#known-limitations */

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./button.css";

@import "tailwindcss/utilities";

* {
  @apply antialiased;
}

body {
  @apply text-gray-800 bg-gray-100 bg-opacity-60;
}

/* .prose h1 {
  @apply text-6xl;
}

.prose h1 strong {
  @apply font-extrabold;
} */

html {
  scroll-behavior: smooth;
}

/* a:not(.btn) {
  @apply underline font-bold transition duration-200;
}

a:not(.btn):not(.text-*) {
  @apply text-gray-800;
}

a:not(.btn):not([class*="hover"]) {
  @apply hover:text-tertiary-accent;
}

a:not(.btn):not([class*="focus"]) {
  @apply focus:text-tertiary-accent;
} */
